body {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
}

#title {
    height: 20vh;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Azonix', sans-serif;
    font-size: xx-large;
}

.rt {
    text-align: center;
    display: grid;
    grid-template-rows: 20px 1fr;
    text-align: center;
    justify-content: center;
    align-items: center;
}

#rtminutes {
    text-align: center;
    font-size: large;
    background-color: transparent;
    border-radius: 15px;
    height: 40px;
}

#racelength {
    font-family: 'Azonix', sans-serif;
    font-size: large;
    color: white;
}