body {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
}

#title {
    height: 20vh;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Azonix', sans-serif;
    font-size: xx-large;
    text-align: center;
    text-decoration: underline;
}

.rows {
    text-align: center;
    display: grid;
    grid-template-rows: 20px 1fr;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.subtitle {
    font-family: 'Azonix', sans-serif;
    font-size: large;
    color: white;
}

.onelineinput {
    text-align: center;
    justify-self: center;
    font-size: large;
    background-color: transparent;
    border-radius: 15px;
    border-color: #dc143c;
    background-color: rgb(50, 50, 50);
    height: 35px;
    min-height: 35px;
    width: 25vw;
    min-width: 250px;
}

.time {
    text-align: center;
    font-size: large;
    background-color: transparent;
    border-radius: 15px;
    border-color: #dc143c;
    background-color: rgb(50, 50, 50);
    height: 35px;
    min-height: 35px;
    width: 10vw;
    min-width: 75px;
}

#res {
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: xx-large;
    font-weight: bold;
    color: white;
}