body {
    margin: 0;
    display: grid;
    grid-template-rows: 1fr 50px 1fr 1fr 1fr 1fr;
    background-image: url('imgs\checkered flag.jpg');
}
#title {
    height: 15vh;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Azonix', sans-serif;
    font-size: x-large;
    text-align: center;
    text-decoration: underline;
    margin-bottom: 15px;
}

.rows {
    text-align: center;
    display: grid;
    grid-template-rows: 50px 1fr;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.subtitle {
    font-family: 'Azonix', sans-serif;
    font-size: large;
    color: white;
}

.onelineinput {
    text-align: center;
    justify-self: center;
    font-size: large;
    background-color: transparent;
    border-radius: 15px;
    border-color: #dc143c;
    background-color: rgb(50, 50, 50);
    height: 35px;
    min-height: 35px;
    width: 25vw;
    min-width: 250px;
}

.time {
    text-align: center;
    font-size: large;
    background-color: transparent;
    border-radius: 15px;
    border-color: #dc143c;
    background-color: rgb(50, 50, 50);
    height: 35px;
    min-height: 35px;
    width: 12.5vw;
    min-width: 125px;
}

#res {
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: xx-large;
    font-weight: bold;
    color: white;
    font-family: 'Azonix', sans-serif;
}

.timeOrLaps {
    height: 50px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Azonix', sans-serif;
}

.typeOfLength {
    border-color: #dc143c;
}

input {
    color: white;
}