@font-face {
    font-family: 'Azonix';
    src: url('file:///C:/Juegos%20e%20instaladores/Projects%20IntelliJ/ACC-SetupsAndFuel/fonts/azonix/Azonix.otf') format('opentype');
    /* Add more src declarations for different font weights or styles if available */
}

body {
    background-color: rgb(95, 95, 95);
    margin: 0;
  }

a {
  text-decoration: none;
}

a:visited {
  color: white;
  text-decoration: none;
}

a:active {
  color: white;
  text-decoration: none;
}

#buttonContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 100vh;
    justify-items: center; /* Horizontally centers items within the grid */
    align-items: center; /* Vertically centers items within the grid */
}

.logonav {
    position: absolute;
    display: flex;
    width: 100vw;
    height: 20vh;
    align-items: center;
    justify-content: center;
}

#logo {
    justify-self: center;
    position: absolute;
    width: 50vw;
    min-width: 200px;
    max-width: 300px;
    height: fit-content;
}
  
button {
    width: 40vw;
    min-width: 300px;
    height: 10vw;
    min-height: 150px;
    background-color: #dc143c;
    border-radius: 15px;
    font-size: larger;
    color: white;
    font-family: 'Azonix', sans-serif;
}

@media screen and (max-width: 768px) {
  .logonav {
    position: relative;
  }
  #buttonContainer {
    display: block;
    text-align: center;
    height: 100vh;
  }
  button {
    margin-top: 25px;
    width: 80vw;
    min-width: 200px;
    height: 100px;
  }
}