@font-face {
    font-family: 'Azonix';
    src: url('fonts\azonix\Azonix.otf') format('opentype');
    /* Add more src declarations for different font weights or styles if available */
}

body {
    background-color: rgb(95, 95, 95);
    margin: 0;
    display: grid;
    grid-template-rows: 15vh 1fr;
}

#title {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    color: white;
    font-family: 'Azonix', sans-serif;
    font-size: x-large;
    text-align: center;
    height: 15vh;
}

#tracks {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: space-evenly;
    border-radius: 15px;
    background-color: rgba(0, 0, 0, 0.075);
}

button {
    font-family: 'Azonix', sans-serif;
    width: 25vw;
    min-width: 175px;
    height: 100px;
    border-radius: 15px;
    color: rgb(255, 255, 255);
    font-family: 'Azonix', sans-serif;
    font-size: large;
    font-weight: bold;
    margin-block: 10px;
    margin-inline: 5px;
    border-color: #dc143c;
}
